bin
obj
releases
.vs



*.csproj
*.exe
*.temp
*.dll
*.user
*.sln
ICSharpCode.SharpZipLib.dll

LICENSE
modtools.command
packages.config
README.md
VSModLauncher.csproj.user

#folders
releases/
mods-dll/
Properties/
packages/
obj/
mods-dll/